<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobZone</title>


    <!-- Css Files -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Font Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&display=swap"> <!-- Font Family -->

    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" href="css/normalize.css"><!-- Normalize File -->
    <link rel="stylesheet" href="css/main.css"> <!-- Main CSS File -->





    
</head>


<body>


    <!-- ==== Start Navigation Bar ==== -->
    <nav class="navbar">
        <div class="container">

            
            <h2 class="logo"><a href="index.html">موب<span>زون</span></a></h2>
        
            <ul class="menu">
                <li ><a href="index.html"><i class="fa-solid fa-house-chimney"></i>الرئيسية</a></li>
                <li><a href="news.html"><i class="fa-solid fa-newspaper"></i>الاخبار</a></li>
                <li><a href="tips.html"><i class="fa-solid fa-lightbulb"></i>نصائح</a></li>
            </ul>

            
            <div class="burger">
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
            </div> 
        
            
            <a class="profile-button" href="user-profile.html">
                <img src="img/user profile/man2.png" alt="">
                <span>الملف الشخصي</span>
            </a> 

        </div>
    </nav>
    <!-- ==== End Navigation Bar ==== -->

    <!-- ==== Start Header ==== -->
    <header class="header">
        <div class="overlay"></div>
        <div class="overlay-black"></div>
        <div class="container">
            <main>
                <h1>متخصيصين في مراجعة الهواتف</h1>
                <p>نساعدك لاختيار الهاتف الافضل بالنسبة لك</p>

                <!-- <div>                
                    <button><a href="#login">أشترك الان</a></button>
                </div> -->
            </main>
        </div>
    </header>
    <!--  End Header  -->

    <!-- ==== Start Brands ==== -->
    <section class="brand-list">
        <div class="container">

            <div class="brand">
                <a href="CompanyMobiles.html" id="apple">
                    <img src="img/brand logo/apple-black-logo.png" alt="">
                    <p>أبل</p>
                </a>
            </div>
            
            <div class="brand">
                <a href="CompanyMobiles.html" id="one-plus">
                    <img src="img/brand logo/one-plus.png" alt="">
                    <p>وان بلس</p>
                </a>
            </div>
            
            <div class="brand">
                <a href="CompanyMobiles.html" id="xiaomi">
                    <img src="img/brand logo/xiaomi (1).png" alt="">
                    <p>شاومي</p>
                </a>
            </div>
            
            <div class="brand">
                <a href="CompanyMobiles.html" id="oppo">
                    <img src="img/brand logo/oppo.png"  alt="">
                    <p>اوبو</p>
                </a>
            </div>
            
            <div class="brand">
                <a href="CompanyMobiles.html" id="samsung">
                    <img src="img/brand logo/Logo-Samsung.png" alt="">
                    <p>سامسونج</p>
                </a>
            </div>

            <div class="brand">
                <a href="CompanyMobiles.html" id="huawei">
                    <img src="img/brand logo/huawei.png" alt="">
                    <p>هواوي</p>
                </a>
            </div>
        </div> 
        </section>
    <!-- ==== End Brands ==== -->



    <!-- Start Main Body -->
    <div class="mainbody">
        <div class="container">
            <!-- Start Content -->
            <section class="bodycontent">



             
                <!-- Start Compare Box -->
                <form action="comper-bage.html" class="compare-box">

                    <div class="comper-title">
                        <h4>قارن بين هاتفين</h4>
                    </div>
                    
                    <div class="comper-inputs">
                        <input type="text" id="firs-phone" name="firs-phone" placeholder="الهاتف الاول" required>

                        <input type="text" id="sec-phone" name="sec-phone" placeholder="الهاتف الثاني" required>

                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
                <!-- End Compare Box  -->


                <div class="two-review-box">
                    <!-- Start Review Box -->
                    <article class="review-box" >
                        <div class="review-header-box">
                            <h3 class="mobile-name">Oneplus 8 Pro</h3>
                    
                
                        </div>
                    
                        <div class="slider-container">
                            <div id="slider-number" class="slider-number"></div>
                            <div class="overlay"></div>
                    
                            <!-- Mobile imges -->
                            <img src="img/phones/OnePlus/OnePlus-7T.jpg" alt="">
                            <img src="img/phones/Xiaomi/Xiaomi-Poco-M3-Pro-5G.jpg" alt="">
                            <img src="img/phones/Oppo/Oppo-A73-2.jpg" alt="">
                            <img src="img/phones/Xiaomi/Xiaomi-Poco-X3-Pro.jpg" alt="">
                            <img src="img//phones/iPhone/Apple-iPhone-12-Pro.jpg" alt="">
                            
                            <div class="slider-controls">
                                <span id="prev" class="prev"><i class="fas fa-angle-left"></i></span>
                                <span id="indicators" class="indicators"></span>
                                <span id="next" class="next"><i class="fas fa-angle-right"></i></span>
                            </div>
                        </div>
                    
                        <div class="rating-box">
                            <span class="count-star">4/5</span>
                            <i class="fa fa-star the-star"></i>
                        </div>

                    </article>
                    <!-- End Review Box -->

                    
                    <!-- Start Second Review Box  -->
                    <article class="review-box" >
                        <div class="review-header-box">
                            <h3 class="mobile-name">Oneplus 8 Pro</h3>
                        </div>
                    
                        <div class="sec-slider-container">
                            <div id="sec-slider-number" class="sec-slider-number"></div>
                            <div class="overlay"></div>
                    
                            <!-- Mobile imges -->
                            <img src="img/phones/OnePlus/OnePlus-7T.jpg" alt="">
                            <img src="img/phones/Xiaomi/Xiaomi-Poco-M3-Pro-5G.jpg" alt="">
                            <img src="img/phones/Oppo/Oppo-A73-2.jpg" alt="">
                            <img src="img/phones/Xiaomi/Xiaomi-Poco-X3-Pro.jpg" alt="">
                           
                            
                            <div class="sec-slider-controls">
                                <span id="sec-prev" class="sec-prev"><i class="fas fa-angle-left"></i></span>
                                <span id="sec-indicators" class="sec-indicators"></span>
                                <span id="sec-next" class="sec-next"><i class="fas fa-angle-right"></i></span>
                            </div>
                        </div>
                    
                    <div class="rating-box">
                            <span class="count-star">4/5</span>
                            <i class="fa fa-star the-star"></i>
                        </div>
                        
                    </article>
                    <!-- End Review Box -->
                </div>
                <!-- Start Info Table -->
                <table class="two-table">
                    <tbody>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-calendar-days"></i>تاريخ الاصدار</td> 
                            <td class="sec-td">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, ipsam laudantium. Laudantium doloribus cupiditate quis in expedita molestias eum reiciendis!</td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-gear"></i>نظام التشغيل</td> 
                            <td class="sec-td">Lorem ipsum dolor.</td>
                            <td class="third-td">LoremLoremLorem</td>

                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-wifi"></i>الشبكات</td> 
                            <td class="sec-td"></td>
                            <td class="third-td">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ducimus doloremque illum aliquid, harum ea maxime repellat aut atque quasi?</td>

                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-microchip"></i>المعالج</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>                        
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-mobile-button"></i>الشاشة</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-memory"></i>الذاكرة</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-hard-drive"></i>التخزين</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-battery-full"></i>البطارية</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-screwdriver-wrench"></i>خامات التصنيع</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-maximize"></i>ابعاد الهاتف</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-camera"></i>الكاميرا </td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>
                
                        <tr>
                            <td class="first-td"><i class="fa-solid fa-volume-low"></i>الصوت</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr>
                            <td class="first-td"><i class="fa-solid fa-microphone"></i>الميكروفون</td> 
                            <td class="sec-td"></td>
                            <td class="third-td"></td>
                        </tr>

                        <tr class="price-rwo">
                            <td class="first-td"><i class="fa-solid fa-dollar-sign"></i>السعر</td> 

                            <td class="sec-td price-table">

                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/amazon.png"  alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a>

                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/tradeline.png"  alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a>

                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/btech.png"alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a>

                            
                                
                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/jumia.png"  alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a> 

                            </td>

                            <td class="third-td price-table">

                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/amazon.png"  alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a>

                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/tradeline.png"  alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a>

                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/btech.png"alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a>

                            
                                
                                <a href="">
                                    <div class="img-price-box">
                                    <img src="img/supplier/jumia.png"  alt="">
                                    </div>
                                    <span class="price">2000</span>
                                </a> 
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- End Info Table  -->
                
            </section>
            <!-- End Content -->

            <!-- Start Sidebar -->
            <aside class="sidebar">
            
                <!-- Start Ads Box 250x250 -->
                <div class="ads-box ads_250-250">
                    <img src="https://via.placeholder.com/250x250.png" alt="">
                </div>
                <!-- End Ads Box 250x250 -->

                <!-- Start Login Box -->
                <div class="login">
                    <h2>أنضم الينا</h2>
            
                    <div class="login-box">
                        <ul class="form-tabs-list">
                            <li data-class="tap-1" class="form-active-tab">تسجيل</li>
                            <li data-class="tap-2">أشتراك</li>
                        </ul>

                        <div class="form-taps-content">
                            
                            <div class="tap-1 tap-style">

                                <form action="">
                                    <input type="email" placeholder="البريد الألكتروني">
                                    <input type="password" placeholder="كلمة السر">
                                    <button type="submit">تسجيل دخول</button>
                                </form>

                            </div>
                            <div class="tap-2 tap-style">

                                    <form action="">

                                        <input type="email" placeholder="البريد الألكتروني">
                                        <input type="text" placeholder="الأسم">
                                        <input type="password" placeholder="كلمة السر">
                                    
                        
                                        <button type="submit">أشتراك</button>

                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Login Box -->
    
                <!-- Start Ads Box 250x500 -->
                <div class="ads-box ads_250-500">
                    <img src="https://via.placeholder.com/250x500.png" alt="">
                </div>
                <!-- End Ads Box 250x500 -->

            </aside>
            <!-- End Sidebar -->
        </div>
    </div>
    <!-- End Main Body -->

    <!-- Start Footer -->
    <div class="first-footer">
        <div class="container">
            <div class="footer-box-holder">

                <div class="about-box">
                    <h2>من نحن</h2>
                    <ul>
                        <li>
                            <p>موقع متخصص في تقديم المحتوي التقني الخاص بالهواتف.</p>
                        </li>
                            <li>
                                <h3>نهدف الي</h3>
                                <p>نشر المعرفة التي تمكن المستخدمين من الاستفادة الجيدة من الهواتف والتعرف اعلي مميزاتها.<br>
                                ومساعدة المستخدمين من اختيار الهاتف المناسب لهم.
                                </p>

                                <p></p>
                            </li>
                
                    </ul>
                </div>

                <div class="links-box">

                    <h2>تصفح الموقع</h2>

                    <ul class="links-box-ul">
                        <li><a href="#">اخر المقالات</a></li>
                        <li><a href="#">مقارانات الهواتف</a></li>
                        <li><a href="#">الأشتراك</a></li>
                        <li><a href="#">الأسئلة الشائعة</a></li>
                        <li><a href="#">أحدث الهواتف</a></li>

                    </ul>
              
                </div>
                
                <div class="icons-box">
                    <h2>تابعنا</h2>
                    <p>
                        قم بمتابعتنا ليصلك كل جديد,<br>
                        ولمعرفة اخر الاخبار التقنية.<br>
                        <strong>1030450776&#40;20&#43;&#41;</strong>
                    </p>
            
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    </ul>
                </div>

            </div>
          
        </div>
    </div>

    <footer>
        <div class="container">
            <p> جميع الحقوق محفوظة الي موبزون &copy;</p>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Go To Top Button -->
    <button class="gotop"><i class="fa-solid fa-angle-up"></i></button>


    <!-- End Go To Top Button -->

 
    <!-- JS Files -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/07bb446ef7.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>